{% extends "base.html" %}
{% block titulo %}Eliminar{% endblock %}

{% block contenido %}
  <h2>Confirmar eliminación</h2>

  <p>¿Seguro que deseas eliminar el curso:</p>
  <p><b>{{ curso.titulo }}</b> ({{ curso.categoria.nombre }})</p>

  <form method="post" style="margin-top:12px;">
    {% csrf_token %}
    <button type="submit" style="padding:10px 14px; border:1px solid #b00; border-radius:10px; cursor:pointer;">
      Sí, eliminar
    </button>
    <a href="{% url 'cursos:detalle' curso.pk %}" style="padding:10px 14px; border:1px solid #999; border-radius:10px; margin-left:8px;">
      Cancelar
    </a>
  </form>
{% endblock %}